@import "compass";
a:active,
a:focus,
a:hover {
	outline: none;
}
#menu {
	height: 66px;
	//@include background-image(linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0)));
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 90;
	ul {
		li {
			float: left;
			font-weight: bold;
			a {
				font-size: 18px;
				padding: 20px;
				display: block;
				text-decoration: none;
				&:hover {
					text-decoration: none;
				}
				&.activo {
					//background: #32763B;
				}
			}
		}
	}
}
.menu_color0,
.menu_color1,
.menu_color2,
.menu_color3,
.menu_color4,
.menu_color5,
.menu_color6,
.menu_color7 {
	@include transition-property(background);
	@include transition-duration(1.7s);
	a {
		color: white;
	}
	.activo,
	a:hover {
		@include transition-property(background);
		@include transition-duration(0.7s);
		color: white;
	}
}
.menu_color0 {
	background: rgba(98,25,36, 0.90);
	.activo,
	a:hover {
		background: #32763B;
	}
	color: white;
}
.menu_color1 {
	background-color: rgba(30,9,1, 0.90);
	.activo,
	a:hover {
		background: rgb(95,55,27);
	}
}
.menu_color2 {
	background: rgba(77,31,0, 0.90);
	.activo,
	a:hover {
		background: rgb(30,9,1);
	}
}
.menu_color3 {
	background: rgba(20,45,0, 0.90);
	.activo,
	a:hover {
		background: rgb(68,106,0);
	}
}
.menu_color4 {
	background: rgba(139,92,62, 0.90);
	.activo,
	a:hover {
		background: rgb(69, 34, 12);
	}
}
.menu_color5 {
	background: rgba(74, 21, 29, 0.9);
	.activo,
	a:hover {
		background: rgb(35,9,13);
	}
}
.menu_color6 {
	background: rgba(37,87,43, 0.90);
	.activo,
	a:hover {
		background: rgb(23,44,25);
	}
}
.menu_color7 {
	background: rgba(30,25,25, 1);
	.activo,
	a:hover {
		background: rgb(255,255,255);
		color: black;
	}
}
h1 {
	font-size: 4.5em;
	font-weight: 700;
	text-shadow: 5px 5px 5px black;
	color: white;
}
h4 {
	strong {
		font-size: 28px;
		padding: 20px 0;
		display: block;
	}
}
p {
	font-size: 19px;
	line-height: 23px;
	text-align: justify;
}
#top {
	.btn {
		font-size: 30px;
		text-decoration: none;
	}
}
#quienes {
	p {
		color: white;
		text-shadow: 2px 2px 2px #000;
		font-size: 35px;
		line-height: 35px;
		margin: 20px 0;
		line-height: 40px;

	}
}
#cafes {
	background: #552200 url('../../img/background2.png');
	h4 strong {
		font-size: 35px;
		height: 117px;
	}
	.service-item {
		.imagen_seccion {
			@include single-transition(transform, 0.6s);
			width: 100%;
		}
		&:hover {
			.imagen_seccion {
				@include transform(rotateX(0deg) rotateY(0deg) rotateZ(-8deg));
				@include transition(all 0.3s ease-in-out);
			}
		}
	}
	.btn {
		font-size: 30px;
		padding: 10px 40px;
		font-weight: bold;
		border-radius: 8px;
		background: #369E3D;
		color: white;
		text-decoration: none;
		@include transition(all 0.3s ease-in-out);
		&:hover {
			@include transform(scale(1.4));
		}
	}
}
#comunidad {
	background: rgb(211, 141, 95) url("../../img/background.png") repeat scroll 0 0;
	h1 {
		text-shadow: 5px 5px 5px rgb(113,74,50);
	}
	p {
		color: white;
		text-shadow: 2px 2px 2px rgb(113,74,50);
		font-size: 25px;
		line-height: 30px;
		margin: 20px 0;
	}
}
#talento-humano {
	background: #621924 url('../../img/background2.png');
	p {
		color: white;
		text-shadow: 2px 2px 2px #050101;
		font-size: 25px;
		line-height: 30px;
		margin: 20px 0;
	}
}
#trilladora {
	background: #32763B url('../../img/background2.png');
	p {
		color: white;
		text-shadow: 2px 2px 2px #050101;
		font-size: 25px;
		line-height: 30px;
		margin: 20px 0;
	}
}
#cultivo {
	padding: 50px 0;
	display: table;
	position: relative;
	width: 100%;
	height: 100%;
	background: rgb(68,106,0) url('../../img/background2.png');
	color: white;
	p {
		font-size: 25px;
		background: rgba(0, 0, 0, 0.5);
		padding: 5%;
	}
}
footer {
	padding: 50px 0;
	background: rgb(61,50,50) url('../../img/background2.png');
	label {
		color: white;
	}
	p {
		font-size: 22px;
		background: rgba(0, 0, 0, 0.5);
		padding: 3%;
		color: white;
		line-height: 40px;
		strong {
			font-size: 30px;
		}
		span {
			font-size: 22px;
		}
		&.normal {
			background: none;
			line-height: 30px;
		}
		&.creditos {
			background: none;
			line-height: 30px;
			padding: 48px 0 0;
			margin: 0;
			text-align: center;
		}
	}
}
.modal-dialog {
	color: black;
	h4 {
		font-size: 30px;
		text-align: left;
		font-weight: bold;
		color: #552200;
	}
	h5 {
		font-size: 20px;
		text-align: left;
		font-weight: bold;
		color: #552200;
	}
	p {
		padding: 30px 0;
		font-size: 25px;
		line-height: 30px;
	}
	li {
		font-size: 20px;
		text-align: left;
	}
}
.imageContainer {
	position: relative;
	width: 100%;
	padding-bottom: 75%;
	float: left;
	height: 0;
	margin: 1%;
	img {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
	}
}
#background {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	img{
		position: absolute;
		z-index: 1;
		width: 100%;
		min-height: 100%;
	}
	img.active {
		z-index: 3;
	}

		/* Small Devices, Tablets */
	@media only screen and (max-width : 1200px) {
		img{
			width: auto !important;
		}
	}
}





a{
	color: #83c0f5;
	text-decoration: underline;
}














/*portfolio*/





body,
html {
	width: 100%;
	height: 100%;
}
body {
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.text-vertical-center {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.text-vertical-center h1 {
	margin: 0;
	padding: 0;
	font-size: 4.5em;
	font-weight: 700;
}
.btn-dark {
	border-radius: 0;
	color: #fff;
	background-color: rgba(0,0,0,0.4);
}
.btn-dark:active,
.btn-dark:focus,
.btn-dark:hover {
	color: #fff;
	background-color: rgba(0,0,0,0.7);
}
.btn-light {
	border-radius: 0;
	color: #333;
	background-color: #fff;
}
.btn-light:active,
.btn-light:focus,
.btn-light:hover {
	color: #333;
	background-color: rgba(255,255,255,0.8);
}
hr.small {
	max-width: 100px;
}
.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
}
.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #999;
}
.sidebar-nav li a:hover {
	text-decoration: none;
	color: #fff;
	background: rgba(255,255,255,0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
	height: 55px;
	font-size: 18px;
	line-height: 55px;
}
.sidebar-nav > .sidebar-brand a {
	color: #999;
}
.sidebar-nav > .sidebar-brand a:hover {
	color: #fff;
	background: none;
}
#menu-toggle {
	z-index: 1;
	position: fixed;
	top: 0;
	right: 0;
}
#sidebar-wrapper.active {
	right: 250px;
	width: 250px;
	-webkit-transition: all 0.4s ease 0;
	-moz-transition: all 0.4s ease 0;
	-ms-transition: all 0.4s ease 0;
	-o-transition: all 0.4s ease 0;
	transition: all 0.4s ease 0;
}
.toggle {
	margin: 5px 5px 0 0;
}
.header {
	display: table;
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.about {
	display: table;
	position: relative;
	width: 100%;
	height: 100%;
	background: url("../../img/mostrando.jpg") no-repeat center center scroll #6F412A;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	color: #fff;
}
.about p {
	font-size: 25px;
	background: rgba(0,0,0,0.5);
	padding: 5% 7%;
}
.services {
	padding: 50px 0;
}
.service-item {
	margin-bottom: 30px;
}
.callout {
	display: table;
	width: 100%;
	height: 400px;
	color: #fff;
	background: url("../img/callout.jpg") no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.portfolio {
	padding: 50px 0;
}
.portfolio-item {
	margin-bottom: 30px;
}
.img-portfolio {
	margin: 0 auto;
}
.img-portfolio:hover {
	opacity: 0.8;
}
.call-to-action {
	padding: 50px 0;
}
.call-to-action .btn {
	margin: 10px;
}
.map {
	height: 500px;
}
@media(max-width:768px) {
	.map {
		height: 75%;
	}
}
























#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	right: 0;
	width: 250px;
	height: 100%;
	margin-right: -250px;
	overflow-y: auto;
	background: #222;
	-webkit-transition: all 0.4s ease 0;
	-moz-transition: all 0.4s ease 0;
	-ms-transition: all 0.4s ease 0;
	-o-transition: all 0.4s ease 0;
	transition: all 0.4s ease 0;
}
.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
}
.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #999;
}
.sidebar-nav li a:hover {
	text-decoration: none;
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
	height: 55px;
	font-size: 18px;
	line-height: 55px;
}
.sidebar-nav > .sidebar-brand a {
	color: #999;
}
.sidebar-nav > .sidebar-brand a:hover {
	color: #fff;
	background: none;
}
#menu-toggle {
	z-index: 1;
	position: fixed;
	top: 0;
	right: 0;
}
#sidebar-wrapper.active {
	right: 250px;
	width: 250px;
	-webkit-transition: all 0.4s ease 0;
	-moz-transition: all 0.4s ease 0;
	-ms-transition: all 0.4s ease 0;
	-o-transition: all 0.4s ease 0;
	transition: all 0.4s ease 0;
}
.toggle {
	margin: 5px 5px 0 0;
}
